
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 90px;
    background: url('https://images8.alphacoders.com/436/436458.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Righteous', cursive;
  
  }
  body > .container {
    padding-top: 60px;
    background-color: #948B89;
    border-color: #F5EFED;
    border-style: solid;
    border-radius: 10px;
    border-width: 10px;
    padding-bottom: 40px;
  }
  .padded {
    padding-top: 30px
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background-color: #7BE0AD;
    padding-top: 20px;
  }