
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 90px;
    background: url('http://www.choicebankltd.com/file/2014/03/blue-background-large.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Righteous', cursive;
  
  }
  body > .container {
    padding-top: 60px;
    background-color: #948B89;
  }
  .padded {
    padding-top: 30px
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background-color: #7BE0AD;
    padding-top: 20px;
  }